mat-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: auto;
  text-align: center;
}

mat-card-header{
  margin: auto;
  text-align: center;
  color: brown;
}

mat-card-title{
  font-family: "Anton", sans-serif;
  font-weight: 400;
}
